/*ranking page css, maybe this should be in a separate file, but the header is imported, so I'm putting it here for now*/
.navy-space {
    height: 20px;
}

#your-position, #ranking, .second-surface, .filter-button {
    border-radius: 20px;
}

.left-margin {
    padding-left: 2rem;

}

.second-surface {
    padding: 1rem;
    margin: 2rem;
}

.row-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--space-lg);
}

.score {
    width: 94.5%;
}

#ranking-filters {
    padding-left: 10.5rem
}

.filter-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--brand-violet);
}

.filter-button:hover {
    background-color: var(--brand-purple);
}

#ranking {
    display: grid;
    grid-template-columns: 3fr 0fr;
}

.ranking-row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 0fr 3fr 0fr;
    padding: 0.5rem;
}

.first-ranking-position {
    padding: 0.5rem 1.2rem;
    margin-right: 0.5rem;
    background-color: var(--brand-purple);
    border-radius: var(--radius-full);
}

.other-ranking-position {
    padding: 0.5rem 1.05rem;
    margin-right: 0.5rem;
    background-color: var(--brand-lilac);
    border-radius: var(--radius-full);
}

.tenth-ranking-position {
    padding: 0.5rem 0.7rem;
    margin-right: 0.5rem;
    background-color: var(--brand-lilac);
    border-radius: var(--radius-full);
}

.growth, .ranking-name {
    padding: 0.7rem
}